.domain-dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.client-state-col {
  width: 2rem;
}

.clickable {
  cursor: pointer;
}

.netdisplay-quality-value {
  min-width: 3rem;
  text-align: right;
}
